

@media screen and (max-width:1000px){
    .stats-container{
        flex-direction: column;
    }
    .coin-desc-link{
        flex-direction: column;
    }
    .stats-container h2{
        margin-top: 0px;
    }
}

@media screen and (max-width: 500px){
    .coin-links{
        padding: 0px;
    }
    .coin-detail-container{
        margin: 0;
    }
}
@media screen and (max-width: 500px){
    .heading{
        margin-top: 20px;
    }

    .movie-card{
        margin-left: 55px;
    }

    .news-card{
        margin-right: 45px;
    }

    .movies-title{
        margin-left: 60px;
        margin-top: 30px;
    }

    .news-header{
        margin-top: 25px;
        margin-left: 70px;
    }

    .searchInput{
        width: 150%;
    }
    
}

.select-news{
    width: 180px;
}
.news-card{
    min-height: 300px !important;
}
.news-image-container{
    display: flex !important;
    justify-content: space-between !important;
}
.news-title{
width: 70%;
}

.news-image-container .img{
    width:100px;
    height:100px;
}
.news-card p{
    color: black;
    margin: 10px 0px !important;
}
.provider-container{
    display: flex;
    justify-content: space-between;
}
.provider-name{
    margin-left: 10px;
}

.chart-header{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    color: #0071bd;
}
.chart-title{
    color: #0071bd !important;
}
.price-container{
    display: flex !important;
    gap: 20px !important;
    align-items: center !important;
    flex-wrap: wrap !important;
}
.price-change{
    font-weight: 900 !important;
}
.current-price{
    margin-top: 0px !important;
    font-weight: 900 !important;
}
.home-heading-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.show-more{
    margin-top: 0px !important;
}
.exchange-image{
    margin: 0px 10px !important;
}
.search-crypto{
    margin: 20px auto 30px auto;
    width: 250px;
}
.crypto-card-container{
    min-height: 65vh !important;
}
.film-card{
    min-width: 250px;
}
.film-card .film-image{
    width:35px;
}
.select-timeperiod{
    width: 200px !important;
    margin-top: 20px !important;
}

.footer {
    background-color: #001529;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.rate{
    margin-top: 9px;
}

.searchInput {
    margin-bottom: 15px;
    margin-top: 15px;
}

.heading{
    margin-top: 15px;
}

.popular-movie-card{
    margin-top: 30px;
}

.popular-movies-title{
    margin-top: 30px;
}

.movie-rate{
    margin-bottom: 15px;
}

.movie-detail-card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.actor-card{
    size: 10%;
    margin: 3px;
}

.crew-avatar{
    margin: 3px;
}

.show-more-button{
    cursor: pointer
}

.actor-movie-image{
    max-width: 150px;
}

.actors-movie-card{
    max-width: 190px;
    margin: 10px;
}

.actor-card{
    max-width: 130px;
}
